<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="in.sunilpaulmathew.rootfilepicker">

    <application >
        <activity android:name=".activities.FilePickerActivity"
            android:exported="false" />
    </application>
</manifest>